@import "assets/styles/constants.scss";
@import "assets/tools/breakpoints.scss";
@import "assets/vendor/bemify.scss";

@include block("countryAutoComplete") {
  width: 80%;

  @include element("input") {
    width: 150px;

    @include min-small {
      height: 60px;
    }
  }

  .ui.input input {
    border-radius: 38px;
  }

  @include element("search-button") {
    width: 65px;

    &.ui.button {
      background-color: $color-white;
      color: black;
      i {
        color: black;
      }
    }
  }

  //Overwrites semantic
  .ui.action.input {
    width: 100%;
    justify-content: center;

    input {
      max-width: 870px;
      padding: 0 20px;
      border: none;
    }
  }

  .ui.action.input:not([class*="left action"]) > .button:last-child {
    border-radius: 0 38px 38px 0;
  }
}
