@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
.countryAutoComplete {
  width: 80%; }
  .countryAutoComplete__input {
    width: 150px; }
    @media only screen and (min-width: 768px) {
      .countryAutoComplete__input {
        height: 60px; } }
  .countryAutoComplete .ui.input input {
    border-radius: 38px; }
  .countryAutoComplete__search-button {
    width: 65px; }
    .countryAutoComplete__search-button.ui.button {
      background-color: #ffffff;
      color: black; }
      .countryAutoComplete__search-button.ui.button i {
        color: black; }
  .countryAutoComplete .ui.action.input {
    width: 100%;
    justify-content: center; }
    .countryAutoComplete .ui.action.input input {
      max-width: 870px;
      padding: 0 20px;
      border: none; }
  .countryAutoComplete .ui.action.input:not([class*="left action"]) > .button:last-child {
    border-radius: 0 38px 38px 0; }
