@import 'assets/styles/constants.scss';
@import 'assets/tools/breakpoints.scss';
@import 'assets/vendor/bemify.scss';

@include block('quote-container') { 
    height: fit-content;
    position: relative;
    top: 15px;
    margin: 60px 0;
    align-self: center;
    width: 70%;

    @include min-small {
        top: 30px;
        width: 45%;
        transform: translate(-50%, 0%);
    }
}

@include block('hero-content') {
  display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;

    &.hero-content-without-quote {
      top: 25px;
      position: relative;
    }
}

@include block('home-page') {

  @include element('hero-title') {
    color: $color-white;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
  @include element('locationSelector') {
    display: flex;
    color:$color-white;
    align-self: center;
  }
}
